/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    
    height:100%;
    width:100%;
    font-size:100%;
    line-height:1.5;
    font-size:18px;
    -ms-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    font-family: 'Montserrat', sans-serif;
}
body._lock {
    overflow: hidden;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

h2 {
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    margin: 0 0 20px 0;
}

h3 {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    margin: 40px 0 20px 0;
}

h4 {
    font-weight: 700;
}

p {
    margin: 0 0 20px 0;
}

blockquote {
    margin: 40px 140px 40px 100px;
    padding: 20px 20px 20px 120px;
    font-style: italic;
    font-weight: 300;
    background-color: rgba(255, 49, 11, 0.2);
    border-radius: 10px;
    position: relative;
    

    p {
        margin: 0;
    }

    &::before {
        content: "";
        background: url('../images/quotes.svg') 0 0 no-repeat;
        opacity: 20%;
        position: absolute;
        width: 100px;
        height: 100px;
        top: 0;
        left: 10px;
    }
}

ul {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 20px 0;
}

li {
    padding: 0 0 0 35px;
    margin: 0 0 9px 0;
    position: relative;

    &::before {
        content: "";
        background: url('../images/check.svg') 0 0 no-repeat;
        position: absolute;
        top: 3px;
        left: 0px;
        width: 16px;
        height: 16px;
    }
}

figure {
    text-align: center;
}

figcaption {
    font-size: 12px;
}

.countdown {

    h3 {
        margin: 20px 0;
    }

    text-align: center;
    &__items {
        display: flex;
        justify-content: center;
        margin: 10px 80px 20px 80px;
    }
    
    &__item{
        display: flex;
        flex-direction: column;
        background-color: #ff310b;
        color: #fff;
        min-width: 100px;
        border-radius: 10%;
        padding: 10px 20px;
        margin: 0 20px;

        span {
            font-size: 36px;
            font-weight: 700;
        }
    }
}

.wrapper {
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    margin: 0px 0 0 0;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0.6) 0%, rgba(196, 196, 196, 0) 100%);

		&__contaner {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            padding: 0 30px;
            align-items: center;
            justify-content: space-between;
            min-height: 70px;
		}

		&__logo {
		}

		&__menu {
		}

		&__phone {
            color: #fff;
		}
}

.menu {
   

    &__icon {
    }

    &__body {
    }

    &__nav {
        display: flex;
        margin: auto auto;
        
    }

    &__item {

        &::before {
            display: none;
        }

        & + .menu__item {
            padding: 0 0 0 80px;
        }

        a {
            color: #fff;
            font-size: 16px;
            line-height: 20px; 
            font-weight: 700;
            transition: text-shadow 0.5s ease 0s;


            &:hover {
                text-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
            }
        }
        
        
    }
}


.page {

}

.hero {
    background: linear-gradient(180deg, #1E1010 0%, #000000 100%);
    position: relative;

    &::before {
        content: 'Ant';
        position: absolute;
        top: 5%;
        left: 5%;
        font-weight: 800;
        font-size: 300px;
        line-height: 366px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.02);
        pointer-events: none;
    }

    &::after {
        content: 'King';
        position: absolute;
        bottom: 5%;
        right: 15%;
        font-weight: 800;
        font-size: 300px;
        line-height: 366px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.02);
        pointer-events: none;
    }
    

    

		&__content {
            color: #fff;
            display: flex;
            align-items: center;
            

            
		}

		&__text {
            width: 50%;

            & button.btn-buy {
                margin-right: 5px;
            }
		}

		&__header {
            font-weight: 800;
            font-size: 96px;
            line-height: 117px;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            margin: 0 0 40px 0;
		}

		&__sub-header {
            font-size: 36px;
            line-height: 44px;
            letter-spacing: -0.02em;
            margin: 0 0 40px 0;
		}

		

		&__image {
            width: 50%;
            
		}
}
.description {
    color: #fff;
    background: linear-gradient(180deg, #3A2C2C 0%, #000000 100%);

    &__inner {
        padding: 60px 0;
    }

    &__columns {
        display: flex;
        align-items: center;
        margin: 0 0 40px 0;
    }

    &__column-1 {
        width: 45%;
        
        
    }

    &__column-2 {
        width: 55%;
        
    }

    &__penis {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0 0 40px 0;
    }

    &__penis-1 {

        figcaption {
            text-align: center;
            font-size: 14px;
            font-weight: 700;
            padding: 20px 0 0 0;    
        }
    }

    &__penis-2 {
        
        figcaption {
            text-align: center;
            font-size: 14px;
            font-weight: 700;
            padding: 20px 0 0 0;    
        }
    }

    &__why {
        display: flex;
        align-items: center;
    }

    &__item {
        padding: 0 0 0 35px;
        margin: 0 0 9px 0;
        position: relative;

        &::before {
            content: "";
            background: url('../images/check.svg') 0 0 no-repeat;
            position: absolute;
            top: 3px;
            left: 0px;
            width: 16px;
            height: 16px;
        }
    }
}


.buy {
    // background-image: url('../images/buy-bg.jpg');
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-size: cover;
    background-attachment: fixed; 

    // background: linear-gradient(180deg, #807272 0%, #3A2C2C 100%);

    &__inner {
        padding: 60px 0;
        color: #fff;
    }


	&__price {
        text-align: center;
	}

    &__price-new {
        span {
            font-size: 58px;
        font-weight: 700;
        color: #ff310b;
        }
        
    }



	&__price-old {
        span {
            font-size: 36px;
            text-decoration: line-through;
        }
	}

	
	&__price-action {
		}

	&__timer {
		}


    &__columns {
        margin: 40px 0 0 0;
        display: flex;
        align-items: center;

    }

    &__column-1 {
        width: 50%;
    }

    &__form {

        text-align: center;

        & input[type="text"] { 
            width:100%;
            height: 80px;
            border:2px solid #ff310b;
            border-radius:5px;
            background:#fff;
            font-size: 24px;
            line-height: 30px;
            color:rgba(255, 255, 255, 0.01);
            text-indent:34px;
            margin-top:11px;
            -webkit-appearance:none;
            -moz-appearance:none;
            appearance:none;
            margin: 0 0 40px 0;
        }

        & input[type="tel"]{ 
            width:100%;
            height: 80px;
            border:2px solid #ff310b;
            border-radius:5px;
            background:#fff;
            // font:34px/35px;
            font-size: 24px;
            line-height: 30px;
            color:rgba(255, 255, 255, 0.01);
            text-indent:34px;
            margin-top:11px;
            -webkit-appearance:none;
            -moz-appearance:none;
            appearance:none;
            margin: 0 0 40px 0;
        }
    }

    &__button {
        margin: 0 0 40px 0;

    }

    &__checkbox {
        font-size: 12px;
        color: #797979;

        a {
            color: #797979;
        }
    }

    &__column-2 {
        width: 50%;
        text-align: center;
    }

}

.warning {
    background: #ffffff;
    border: 3px solid #B11212;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 40px 40px 40px 40px;
    min-height: 160px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-image: url('../images/warning.svg');
        width: 112px;
        height: 112px;
        top: auto;
        left: 10px;
        bottom: auto;

    }

    p {
        color: #000;
        
        margin: 30px 30px 30px 140px;
    }
}

.offername {
}


.btn-buy {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    background: #ff310b;
    border-radius: 5px;
    transition: all 0.5s ease 0s;

    a {
        display: block;
        padding: 25px 41px 25px 41px;
        color: #fff;

    }

    &:hover {
        box-shadow: 0px 0px 30px rgba(255, 49, 11, 0.5);
        transform: translate(0px, -3px);
    }
    &:active {
        box-shadow: none;
        transform: translate(0px, 3px);
    }
}
.btn-consultation {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid #FF310B;
    background: transparent;
    border-radius: 5px;
    transition: all 0.5s ease 0s;

    a {
        display: block;
        padding: 25px 20px 25px 20px;
        color: #fff; 
    }

    &:hover {
        background: #ff310b;
        box-shadow: 0px 0px 30px rgba(255, 49, 11, 0.5);
    }
    &:active {
        box-shadow: none;
        transform: translate(0px, 3px);
    }

}

.btn-buy-form {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    background: #ff310b;
    border-radius: 5px;
    transition: all 0.5s ease 0s;
    padding: 25px 41px 25px 41px;
    color: #fff;
    margin-bottom: 20px;

    &:hover {
        box-shadow: 0px 0px 30px rgba(255, 49, 11, 0.5);
        transform: translate(0px, -3px);
    }
    &:active {
        box-shadow: none;
        transform: translate(0px, 3px);
    }
}



.how {
    padding: 60px 0;

    &__inner {
        
    }

    &__columns {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__column-1 {
        width: 50%;
    }

    &__column-2 {
        width: 50%;
         
    }

    &__stages {
        display: flex;
        align-items: start;
        justify-content: space-around;
        margin: 0 0 20px 0;
    }

    &__stage {
        text-align: center;
        width: 25%;
        p {
            padding: 0 10px 0 10px;
        }
    }

    &__stage-image {
        margin-bottom: 20px;
    }

    &__benefits {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__benefits-image {
        margin: 0 40px 0 0;
    }

    &__benefits-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
}

.benefits {
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-size: cover;
    background-attachment: fixed; 

    &__inner {
        padding: 60px 0;
        color: #fff;
    }

    &__list {
        display: flex;
        justify-content: center;
        
    }

    

}

.details {
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-size: cover;
    background-attachment: fixed; 
    padding: 60px 0;

    &__inner {
    }

    &__official {
        
    }

    &__official-1 {
        
    }

    &__official-2 {
    }

    &__price {
    }

    &__pharmacy {
    }

    &__delivery {
    }

    &__photo {
        text-align: center;
    }
}

.composition {
    padding: 60px 0;

    &__inner {
    }

    &__items {
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }

    &__item-section {
    }
}

.conditions {
    padding: 60px 0;
    background-color: #e2e2e2;

    &__inner {
    }

    &__form {
    }

    &__storage {
    }

    &__sertificate {
    }

    &__indications {
    }

    &__forum {
    }

    &__cheating {
    }

    &__buy {
    }

    &__buy-form {
        text-align: center;
        margin: 0 120px;
    }

    &__buy-price-new {
    }

    &__buy-price-old {
    }
}

.buy {

    &__price-new {
    }

    &__price-old {
    }

    &__form {
        
    }

    &__button {
    }

    &__checkbox {
    }
}
.offername {
}
.btn-buy {
}


.footer {
    h3 {
        margin: 0;
        text-align: left;
    }
    padding: 60px 0;
    background: linear-gradient(180deg, #1E1010 0%, #000000 100%);

    &__inner {
        margin: 0 40px;
        padding: 0;
        color: #fff;
    }

    &__columns {
        display: flex;
        justify-content: space-between;
    }

    &__column {
        width: 30%;
    }

    &__list {
    }

    &__item {
        margin: 5px 0;
        padding: 0;
       a {
           color: #fff;
           &:hover {
               text-decoration: underline;
           }
       }
    }

    &__copywright {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__copywright-logo {
        margin-right: 40px;
    }

    &__copywright-text {
    }
       
}

ul li.footer__item::before {
        display: none;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;

    
    &.open {
        opacity: 1;
        visibility: visible;
    }

    &.open &__content {
        transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
        opacity: 1;
    }

    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.8 ease 0s;
       
    }

    &__content {
        background-color: #fff;
        max-width: 800px;
        padding: 10px 10px 20px 10px;
        position: relative;
        transition: all 0.8 ease 0s;
        opacity: 0;
        transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
        
    }

    &__close {
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: 20px;
    }

    
    &__buy-form {
        text-align: center;
        h3 {
            margin: 20px;
        }

        p {
            margin: 20px;
        }

        & input[type="text"] { 
            width: 80%;
            height: 60px;
            border:2px solid #ff310b;
            border-radius:5px;
            background:#fff;
            font-size: 24px;
            line-height: 30px;
            color:rgba(255, 255, 255, 0.01);
            text-indent:34px;
            margin-top:11px;
            -webkit-appearance:none;
            -moz-appearance:none;
            appearance:none;
            margin: 0 0 20px 0;
        }

        & input[type="tel"]{ 
            width:80%;
            height: 60px;
            border:2px solid #ff310b;
            border-radius:5px;
            background:#fff;
            font-size: 24px;
            line-height: 30px;
            color:rgba(255, 255, 255, 0.01);
            text-indent:34px;
            margin-top:11px;
            -webkit-appearance:none;
            -moz-appearance:none;
            appearance:none;
            margin: 0 0 20px 0;
        }

        .btn-buy {
            margin-bottom: 20px;
        }

        
    }

    &__price-new {
        span {
            font-size: 36px;
            line-height: 38px;
        }
    }

    &__price-old {
        font-size: 18px;
        text-align: center;
        span {
            font-size: 24px;
        }
    }

    &__countdown {
        .countdown__items {
            font-size: 14px;
            span {
                font-size: 24px;
            }
        }
    }
}
.buy {

    &__price-new {
    }

    &__price-old {
    }

    &__form {
    }

    &__button {
    }

    &__checkbox {
    }
}
.countdown {

    &__items {
    }

    &__item {
    }
}






@media (max-width: 1200px) { 

    


    .header {

        

        &__contaner {
            justify-content: space-around;
        }

        &__phone {
            display: none;
        }
    }

    .menu {

        &__icon {
            display: none;
        }
    
        &__body {
        }
    
        &__nav {
            
            
        }
    
        &__item {
            & + .menu__item {
                padding: 0 0 0 60px;
            }
            
        }
    }

    .hero {
        background: linear-gradient(180deg, #1E1010 0%, #000000 100%);
    
        &::before {
            top: 25%;
            left: 5%;
            font-size: 260px;
        }

        &::after {
            bottom: 25%;
            right: 5%;
            font-size: 260px;

        }
    
            &__content {
                flex-direction:column-reverse;
                align-items: center;
                padding-bottom: 40px;
                

            }
    
            &__text {
                width: 100%;
                text-align: center;
                
    
                & button.btn-buy {
                    margin-bottom: 20px;
                }
            }
    
            
    
            &__list {
            }
    
            &__item {
                padding: 0;
    
                &::before {
                    display: none;
                }
            }
    
            &__image {
                width: 100%;
                text-align: center;

                img {
                    max-width: 600px;
                }
        }
    }

    .description {

		&__inner {
            margin: 0 40px;
		}

		&__columns {
            flex-direction: column;
            
		}

		&__column-1 {
            text-align: center;
            width: 100%;
            margin-bottom: 20px;
		}

		&__column-2 {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
		}

		&__penis {
		}

		&__penis-1 {
		}

		&__penis-2 {
		}

        &__why {
            flex-direction: column-reverse;
        }

        &__why-1 {
            margin-top: 30px;
        }
}

    .buy {

        &__inner {
            margin: 0 40px;
            
        }

        &__price {
            
        }

        &__columns {
            flex-direction: column-reverse;
            margin-bottom: 40px;
        }

        &__column-1 {
            width: 80%;
        }

        &__form {
        }

        &__button {
        }

        &__checkbox {
        }

        
        &__column-2 {
            width: 100%;

        }

        &__bloquote {
            align-items: start;
            img {
                max-width: 50px;
                margin: 20px 0 0 10px;
            }
        }
    }

    .how {

        &__inner {
            margin: 0 40px;
        }
    
        &__columns {
            flex-wrap: wrap;
            
        }
    
        &__column-1 {
            width: 100%;
        }
    
        &__column-2 {
            width: 100%;
             
        }
    
        &__stages {
            flex-wrap: wrap;
            margin: 0;
            
        }
    
        &__stage {
            width: 50%;

            p {
                
            }

           
            
        }
    
        &__stage-image {
            
        }

        &__benefits {
            flex-direction: column;
        }
    
        &__benefits-image {
            margin: 0 0px 0 0;
        }

        
        
    }

    .benefits {

		&__inner {
            margin: 0 40px;
		}

		&__list {
		}
}

.details {
    

    &__inner {
        margin: 0 40px;
    }
}

.composition {
    

    &__inner {
        margin: 0 40px;
    }

    &__items {
    }

    &__item {
        
    }

    &__item-section {
    }
}

.conditions {
    &__inner {
        margin: 0 40px;
    }

    &__buy-form {
        margin: 0 60px;
    }
}

.conditions {

        &__inner {
            margin: 0 40px;
        }
    }

    .popup {
        &__content {
            max-width: 600px;
        }
    }

}


@media (max-width: 767px) {

    .countdown {
        &__item{
            min-width: 60px;
            border-radius: 10%;
            padding: 5px;
            margin: 0 5px;
    
            span {
                font-size: 24px;
                font-weight: 700;
            }
        }
    }

    .btn-buy {
        margin: 30px 0px 20px 0;
    }

    .btn-consultation {
        margin-bottom: 30px;
    }

    h2 {
        font-size: 28px;
        line-height: 30px;
    }

    h3 {
        font-size: 22px;
        line-height: 24px;
    }

    blockquote {
        margin: 20px 10px 40px 10px;
        padding: 20px 20px 20px 40px;

        &::before {
            opacity: 10%;
        }
        
    }

    .header {

        &__contaner {
            justify-content: space-between;
        }
    
        &__logo {
        }
    
        &__menu {
        }
    
        &__phone {
        }
    }
    .menu {
    
        &__icon {
            z-index: 5;
            display: block;
            position: relative;
            width: 30px;
            height: 18px;
            cursor: pointer;

            & span, 
            &::before,
            &::after {
                left: 0;
                position: absolute;
                height: 10%;
                width: 100%;
                transition: all 0.3s ease 0s;
                background-color: #fff;
            }

            &::before,
            &::after {
                content: "";
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            & span {
                top: 50%;
                transform: scale(1) translate(0px, -50%);
            }

            &._active span {
                transform: scale(0) translate(0px, -50%);
            }
            &._active::before {
                top: 50%;
                transform: rotate(-45deg) translate(0px, -50%);
            }
            &._active::after {
                bottom: 50%;
                transform: rotate(45deg) translate(0px, 50%);
            }
        }
    
        &__body {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            padding: 100px 30px 30px 30px;
            transition: left 0.3s ease 0s;
            overflow: auto;

            &._active {
                left: 0;
            }
        }
    
        &__nav {
            display: block;
            text-align: center;
            
        }
    
        &__item {
            margin: 0 0 60px 0px;
            padding: 0 0 0 0px;

            & + .menu__item {
                padding: 0 0 0 0px;
            }

            &:last-child {
                margin-bottom: 0;
            }
    
            a {
                font-size: 36px;
            }
            
        }
    }

    .hero {
        background: linear-gradient(180deg, #1E1010 0%, #000000 100%);
    
        &::before {
            display: none;
        }

        &::after {
            display: none;
        }
    
            &__content {
                padding-top: 20px;
                flex-direction:column-reverse;
                align-items: center;
                

            }
    
            &__text {
                width: 100%;
                text-align: center;
                
    
                & button.btn-buy {
                    margin: 0 0 20px 0;
                }
            }
    
            &__header {
                font-weight: 800;
                font-size: 86px;
                line-height: 86px;
                letter-spacing: -0.02em;
                text-transform: uppercase;
                margin: 0 0 20px 0;
            }
    
            &__sub-header {
                font-size: 28px;
                line-height: 32px;
                letter-spacing: -0.02em;
                margin: 0 30px 40px 30px;
            }
    
            &__list {
               
                
            }
    
            &__item {
               
    
                &::before {
               
                }
            }
    
            &__image {
                width: 100%;
                text-align: center;
                

                img {
                    max-width: 360px;
                }
                
            }
    }

    .description {

        &__columns {
            margin-bottom: 0px;
        }
        &__column-1 {
                img {
                    max-width: 300px;
                }
            
        }
        &__penis {
            flex-wrap: wrap;
            flex-direction: column;
        }
    
        &__penis-1 {
            img {
                max-width: 360px;
            }
            
            }
    
        &__penis-2 {
            img {
                max-width: 360px;
                margin-right: 20px;
            }
        }

       

        &__why-2 {
            img {
                max-width: 360px;
            }
        }
        
    }

    .buy {
        &__column-1 {
            width: 100%;
        }
        &__column-2 {
            img {
                max-width: 320px;
            }
        }

        &__bloquote {
            margin: 10px;
            align-items: start;
            img {
                max-width: 30px;
                margin: 10px 0 0 5px;
            }
            p {
                font-size: 14px;
                line-height: 16px;
                padding: 10px;
            }
        }
    }

    .warning {
        margin: 20px 20px 40px 20px;
       & p {
           margin: 20px;
           font-size: 16px;
           line-height: 18px;
        }
            
       &::before {
           display: none;
        }
        
        
        
            p {
        
                
            }
    }

    .how {
        h3 {
            margin-top: 40px;
        }
        

        &__inner {
            margin: 0 40px;
        }
    
        &__columns {
            
            
        }
    
        &__column-1 {
            
        }
    
        &__column-2 {
            img {
                max-width: 300px;
            }
            
             
        }
    
        &__stages {
            // flex-direction: column;
            margin: 0;
            
        }
    
        &__stage {
            width: 100%;
            margin-bottom: 20px;
            
        }
    
        &__stage-image {
            
        }

        &__benefits-image {
            img {
            max-width: 360px;
         }
        }

      
        
    }

    .composition {
    

        &__inner {
            
        }
    
        &__items {
        }

        &__item {
            margin-top: 20px;
        }
    
        &__item:nth-child(odd) {
            flex-direction: column-reverse;
            
        }

        &__item:nth-child(even) {
            flex-direction: column;
            
        }
    
        &__item-section {
        }
    }

    .conditions {
    
        &__buy-form {
            margin: 0 20px;
        }
    }

    .footer {
        padding: 60px 0;
        background: linear-gradient(180deg, #1E1010 0%, #000000 100%);
    
        &__inner {
            color: #fff;
        }
    
        &__columns {
            flex-direction: column;
        }
    
        &__column {
            width: 100%;
        }
    
        &__list {
        }
    
        &__item {
           a {
               color: #fff;
               &:hover {
                   text-decoration: underline;
               }
           }
        }
    
        &__copywright {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    
        &__copywright-logo {
            margin-right: 40px;
        }
    
        &__copywright-text {
        }
           
    }

    .popup {
        &__content {
            max-width: 360px;
        }

        &__buy-form {
            h3 {
                margin: 5px;
            }
    
            p {
                margin: 5px;
            }
        }
        
    }

    .buy {
    
        &__price-new {
        }

        &__price-old {
        }

        &__checkbox {
            font-size: 8px;
            line-height: 10px;
        }
}

    
}

@media (max-width: 360px) {

    h2 {
        font-size: 24px;
        line-height: 26px;
    }

    .countdown {

        h3 {
            font-size: 14px;
            line-height: 16px;
        }

        &__item{
            min-width: 40px;
            border-radius: 10%;
            padding: 3px 0px;
            margin: 0 5px;
            font-size: 12px;
    
            span {
                font-size: 24px;
                font-weight: 700;
            }
        }
    }

    h3 {
        font-size: 22px;
        line-height: 24px;
    }

    blockquote {
        margin: 20px 10px 10px 10px;
        padding: 20px 20px 20px 40px;

        &::before {
            opacity: 10%;
        }
        
    }

    .header {

        &__contaner {
            justify-content: space-between;
        }
    
        &__logo {
        }
    
        &__menu {
        }
    
        &__phone {
        }
    }
    .menu {
    
        &__icon {
            z-index: 5;
            display: block;
            position: relative;
            width: 30px;
            height: 18px;
            cursor: pointer;

            & span, 
            &::before,
            &::after {
                left: 0;
                position: absolute;
                height: 10%;
                width: 100%;
                transition: all 0.3s ease 0s;
                background-color: #fff;
            }

            &::before,
            &::after {
                content: "";
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            & span {
                top: 50%;
                transform: scale(1) translate(0px, -50%);
            }

            &._active span {
                transform: scale(0) translate(0px, -50%);
            }
            &._active::before {
                top: 50%;
                transform: rotate(-45deg) translate(0px, -50%);
            }
            &._active::after {
                bottom: 50%;
                transform: rotate(45deg) translate(0px, 50%);
            }
        }
    
        &__body {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            padding: 100px 30px 30px 30px;
            transition: left 0.3s ease 0s;
            overflow: auto;

            &._active {
                left: 0;
            }
        }
    
        &__nav {
            display: block;
            text-align: center;
            
        }
    
        &__item {
            margin: 0 0 60px 0px;
            // padding: 0 0 0 0px;

            & + .menu__item {
                padding: 0 0 0 0px;
            }

            &:last-child {
                margin-bottom: 0;
            }
    
            a {
                font-size: 36px;
            }
            
        }
    }

    .hero {
        background: linear-gradient(180deg, #1E1010 0%, #000000 100%);
    
        &::before {
            display: none;
        }

        &::after {
            display: none;
        }
    
            &__content {
                padding-top: 20px;
                flex-direction:column-reverse;
                align-items: center;
                

            }
    
            &__text {
                width: 100%;
                text-align: center;
                
    
                & button.btn-buy {
                    margin: 0 0 20px 0;
                }
            }
    
            &__header {
                font-weight: 800;
                font-size: 86px;
                line-height: 86px;
                letter-spacing: -0.02em;
                text-transform: uppercase;
                margin: 0 0 20px 0;
            }
    
            &__sub-header {
                font-size: 28px;
                line-height: 32px;
                letter-spacing: -0.02em;
                margin: 0 30px 40px 30px;
            }
    
            &__list {
               
                
            }
    
            &__item {
                margin: 0;
                padding: 0;
                margin-bottom: 10px;
               
    
                &::before {
               
                }
            }
    
            &__image {
                width: 100%;
                text-align: center;
                

                img {
                    max-width: 320px;
                }
                
            }
    }

    .description {

        &__columns {
            margin-bottom: 0px;
        }
        &__column-1 {
                img {
                    max-width: 250px;
                }
            
        }
        &__penis {
            flex-wrap: wrap;
            flex-direction: column;
        }
    
        &__penis-1 {
            img {
                max-width: 220px;
            }
            
            }
    
        &__penis-2 {
            img {
                max-width: 250px;
                
            }
        }

       

        &__why-2 {
            img {
                max-width: 280px;
            }
        }
        
    }

    .buy {

        &__price-new {
            span {
                font-size: 48px;
            }
        }

        &__column-1 {
            width: 100%;
        }
        &__column-2 {
            img {
                max-width: 260px;
            }
        }

        &__bloquote {
            margin: 10px;
            align-items: start;
            img {
                max-width: 30px;
                margin: 10px 0 0 5px;
            }
            p {
                font-size: 14px;
                line-height: 16px;
                padding: 10px;
            }
        }
    }

    .warning {
       & p {margin: 20px;}
            
       &::before {
           display: none;
        }
        
        
        margin: 10px;
            p {
                font-size: 16px;
                line-height: 18px;
                
            }
    }

    .how {

        &__inner {
            margin: 0 40px;
        }
    
        &__columns {
            
            
        }
    
        &__column-1 {
            
        }
    
        &__column-2 {
            img {
                max-width: 260px;
            }
            
             
        }
    
        &__stages {
            flex-direction: column;
            margin: 0;
            
        }
    
        &__stage {
            width: 100%;
            margin-bottom: 20px;
            
        }
    
        &__stage-image {
            
        }

        &__benefits-image {
            img {
            max-width: 300px;
         }
        }
        
    }

    .composition {

    

        &__inner {
            
        }
    
        &__items {
        }

        &__item {

        }
    
        &__item:nth-child(odd) {

            
        }

        &__item:nth-child(even) {

            
        }
    
        &__item-section {
            img {
                max-width: 300px;
            }
        }
    }

    .conditions {
        &__buy-form {
            margin: 0;
        }
    }


    .popup-order {
    }
    .popup {
    
            &__body {
            }
    
            &__content {
                max-width: 260px;
            }
    
            &__close {
            }
    
            &__buy-form {
                h3 {
                    margin: 0px;
                }
        
                p {
                    margin: 0px;
                }

                & input[type="text"] { 
                    
                    height: 40px;
                    font-size: 20px;
                    line-height: 22px;
                }
        
                & input[type="tel"]{ 
                    
                    height: 40px;
                    font-size: 20px;
                    line-height: 22px;
                }
            }
    
            &__price-new {
                span {
                    font-size: 24px;
                    line-height: 26px;
                }
                
            }
            
            &__price-old {
                span {
                    font-size: 18px;
                    text-decoration: line-through;
                }
            }
    
            &__countdown {
                .countdown__items span {
                    font-size: 20px;
                }
            }
    }
    .close-popup {
    }
    .buy {
    
            &__price-new {
            }
    
            &__price-old {
            }
    
            &__checkbox {
                font-size: 8px;
                line-height: 10px;
            }
    }
    .countdown {
    
            &__items {
            }
    
            &__item {
            }
    
            &__item-day {
            }
    
            &__item-hour {
            }
    
            &__item-minute {
            }
    
            &__item-second {
            }
    }
    .offername {
    }
    .btn-buy-form {
        padding: 10px;
    }
    


    
}




